/* navbar.css */
.navbar {
  background-color: #fff1db;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #536493;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ef5a6f;
}
